@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Professores</h2>
        <p><a class="btn btn-primary" href="/Professor">Ir &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Alunos</h2>
        <p><a class="btn btn-primary" href="/Aluno">Ir &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Professores com alunos de idade entre 15 e 17 anos</h2>
        <p><a class="btn btn-primary" href="/Professor/ProfessoresComAlunosEntreQuinzeEDezessete">Ir &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Alunos maiores de 16 anos</h2>
        <p><a class="btn btn-primary" href="/Aluno/AlunosMaiorDezesseis">ir &raquo;</a></p>
    </div>
</div>